In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import euclidean_distances

In [2]:
#Value Replacing

In [3]:
# Predefine number

In [4]:
df = pd.DataFrame(data = ['AA', 'BB', 'CC', 'DD', 'EE'])
df

    0
0  AA
1  BB
2  CC
3  DD
4  EE

In [5]:
map1 = { 0 : {'AA': 1, 'BB': 2, 'CC': 3, 'DD': 4, 'EE': 5}}
map1

{0: {'AA': 1, 'BB': 2, 'CC': 3, 'DD': 4, 'EE': 5}}

In [6]:
df_map = df.copy()

In [7]:
df_map.replace(map1, inplace=True)

In [8]:
df_map

   0
0  1
1  2
2  3
3  4
4  5

In [9]:
df = pd.DataFrame(data = ['AA', 'BB', 'CC', 'DD', 'EE'])
labels = df[0]
map2 = {0 : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
df_map = df.copy()
df_map.replace(map1, inplace=True)

In [10]:
# Auto-calculate the number

In [11]:
df = pd.DataFrame(data = ['AA', 'BB', 'CC', 'DD', 'EE'])
df

    0
0  AA
1  BB
2  CC
3  DD
4  EE

In [12]:
labels = df[0]

In [13]:
# function index at 0
map2 = {0 : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}

In [14]:
range(1, len(labels)+1)

range(1, 6)

In [15]:
labels

0    AA
1    BB
2    CC
3    DD
4    EE
Name: 0, dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
dtypes: object(1)
memory usage: 168.0+ bytes

In [17]:
# change data type from object to category
df[0] = df[0].astype('category')
# get type category: category grater than processing
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      category
dtypes: category(1)
memory usage: 345.0 bytes

In [18]:
# Label Encoding

In [19]:
# Use built-in function in dataframe

In [20]:
df = pd.DataFrame(data = ['AA', 'BB', 'CC', 'DD', 'EE'])
df_label = df.copy()

In [21]:
df_label[0] = df_label[0].astype('category')

In [22]:
df_label[0] = df_label[0].cat.codes

In [23]:
df_label

   0
0  0
1  1
2  2
3  3
4  4

In [24]:
# Use function in scikit-learn

In [25]:
df = pd.DataFrame(data = ['AA', 'BB', 'CC', 'DD', 'EE'])
df2 = df.copy()
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
df2[0] = label.fit_transform(df2[0])

In [26]:
df2

   0
0  0
1  1
2  2
3  3
4  4

In [27]:
# Use numpy when there are only 2 categories

In [28]:
df = pd.DataFrame(data = ['AA', 'XX', 'AA', 'AA', 'XX'])
df_label2 = df.copy()
df_label2[0] = np.where(df_label2[0].str.contains('AA'), 1, 0)

In [29]:
# output 0 and 1
df_label2

   0
0  1
1  0
2  1
3  1
4  0

In [30]:
# One-Hot Encoding

In [31]:
# Use panda function

In [32]:
df = pd.DataFrame(data = ['AA', 'BB', 'CC', 'DD', 'EE'])
df2 = df.copy()

In [33]:
df2 = pd.get_dummies(df2, columns=[0], prefix = ['Label'])

In [34]:
df2

   Label_AA  Label_BB  Label_CC  Label_DD  Label_EE
0         1         0         0         0         0
1         0         1         0         0         0
2         0         0         1         0         0
3         0         0         0         1         0
4         0         0         0         0         1

In [35]:
# Use scikit-learn

In [36]:
df = pd.DataFrame(data = ['AA', 'BB', 'CC', 'DD', 'EE'])
df2 = df.copy()
from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
lb_results = lb.fit_transform(df2[0])
df2 = pd.DataFrame(lb_results, columns=lb.classes_)

In [37]:
df2

   AA  BB  CC  DD  EE
0   1   0   0   0   0
1   0   1   0   0   0
2   0   0   1   0   0
3   0   0   0   1   0
4   0   0   0   0   1

In [38]:
# Binary Encoding
# pip install category_encoders

In [39]:
df = pd.DataFrame(data = ['AA', 'BB', 'CC', 'DD', 'EE'])
df3 = df.copy()

In [40]:
import category_encoders as ce
encoder = ce.BinaryEncoder(cols=[0])
df3 = encoder.fit_transform(df3)

In [41]:
df3

   0_0  0_1  0_2
0    0    0    1
1    0    1    0
2    0    1    1
3    1    0    0
4    1    0    1